/* The styles for the elements */
body {
    font-family: sans-serif;
    width: 850px;
    border: solid steelblue;
    box-shadow: 0px 0px 10px 10px black;
    margin: auto;
    padding: 1em; 
}

.container {
    display: flex; 
    justify-content: center; 
}

#sidebarA {
    width: 245px; 
    padding: 1em;
    margin: 0 1em;
}
#sidebarA h2{
    color: maroon;
}

#sidebarC {
    width: 555px;
    padding: 1em;
    margin: 0 1em;
}

main {
    padding: 1em; 
    margin: 0 1em; 
}

a {
    color: maroon;
}

a:hover {
    color: steelblue;
}

ul a {
    font-weight: bold;
    color: steelblue;
}

ul a:hover {
    color: maroon;
}

header {
    margin-right: -1em;
    margin-left:
