body {
	font-family: sans-serif;
    
}
header img {
	float: left;
	
}
header h2 {
	font-style: italic;
	color: steelblue;
	text-indent: 30px;
}
header h3 {
	text-indent: 30px;
}
header h3 em {
	text-shadow: 2px 2px #800000;
}

main {
	clear: left;
	a:hover {font-style: italic;}
}
main h2 {
		color: #800000;
}
main h3 {
	
}
/* selected link */
a:active {
  color: blue;
}
footer p {
text-align: center;
}
