body {
	font-family: sans-serif;
	width: 900px;
	border: solid steelblue;
	box-shadow: 1px 1px 1px 1px;
	text-align: center;
}
a {
color: maroon;
}

a:hover {
color: steelblue;
}
ul a{
font-weight:bold;
color: steelblue;
}

ul a:hover{
color: maroon;
}

header {
	border-bottom: solid steelblue;
}

header img {
	float: left;
	
}
header h1{
	text-shadow: 2px 2px steelblue;
	font-style: italic;
	color: steelblue;
	text-indent: 30px;
}
header h3 {
	text-indent: 30px;
}
main {
	clear: left;
	a:link {color: maroon;}
h2 {
	text-align: left;
	
}
footer {
	background-color: steelblue;
	color: white
}
main h3 {
}
footer p {
text-align: center;
}
